
<div style="margin-bottom:40px">
    <img src="https://image.freepik.com/free-photo/vegetables-set-left-black-slate_1220-686.jpg"
         style="width:100%;height:400px;margin-left:-54px;" />
    <div style="position:absolute; top:150px;color:white">
        <h1 style="font-weight:bold;padding-bottom:20px;">Find and Log Healthy Recipes</h1>
        <i class="fas fa-search"></i><input placeholder="Search" style="height:50px;width:380px; border-radius: 5px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    margin-left:40px;
    opacity:0.7" />
    </div>

</div>

<h2 style="color:darkslategray;opacity:0.5;text-shadow:2px 1px gray;margin-left:-20px;margin-bottom:10px;">Breakfast Recipes</h2>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>
<body>
    <div id="wrapper" style="margin-bottom:50px;">
        <div id="carousel">
            <div id="content">
                <div>
                    <img class="item"
                         src="https://keyassets-p2.timeincuk.net/wp/prod/wp-content/uploads/sites/53/2018/06/K5JE481.jpg" />
                    <h4>Oat Smootie</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS64VwgXwWboOR87brHDKAf0FCjY8InNlLQ&usqp=CAU"
                         class="item" />
                    <h4>Eggs baked in avocado</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/DAC7A66A-BB1B-49AD-95BF-83EF881DEDAE/Derivates/1abc774a-220c-4d98-912a-2ad56675b6a6.jpg"
                         class="item" />
                    <h4>Cheesy Bacon Breakfast Burrito</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/253d3bd4-2282-4193-a17f-c9f9720af350/Derivates/b6ecd55a-973a-4173-9085-05adcdd43751.jpg"
                         class="item" />
                    <h4>Eggs Recipe</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/CF894406-192E-4166-A5A6-83C7EC8DEDC3/Derivates/74faf775-04e4-47f4-83a8-fb58456d8628.jpg"
                         class="item" />
                    <h4>Health Orange Chicken</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://images.immediate.co.uk/production/volatile/sites/2/2020/02/OLI-0320_Healthy-CuminCrustedChickenBreastWithKaleSaladHumous_02786_preview-eba91c9.jpg?quality=90&resize=620,413"
                         class="item" />
                    <h4>Chicken Breast</h4>
                    <p></p>
                </div>

            </div>
        </div>
        <button id="prev">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
            </svg>
        </button>
        <button id="next">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
            </svg>
        </button>
    </div>
    <h2 style="color:darkslategray;opacity:0.5;text-shadow:2px 1px gray;margin-left:-20px;margin-bottom:10px;">Recipes Under 400 Calories</h2>
    <div id="wrapper1" style="margin-bottom:50px;">
        <div id="carousel1">
            <div id="content1">
                <div>
                    <img class="item"
                         src="https://purewows3.imgix.net/images/articles/2018_02/roased_butternut_squash_pasta_with_peas_400.jpg?auto=format,compress&cs=strip" />
                    <h4>CREAMY ROASTED BUTTERNUT SQUASH PASTA</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://skinnyms.com/wp-content/uploads/2016/01/Chicken-Broccoli-and-Asparagus-Stir-Fry.jpg"
                         class="item" />
                    <h4>Chicken and Broccoli</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://skinnyms.com/wp-content/uploads/2017/02/Tex-Mex-Quinoa-Bowl-Recipe.jpg"
                         class="item" />
                    <h4>Tex Mex Quinoa Bowl |200 Calories</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://skinnyms.com/wp-content/uploads/2016/10/Avocado-Egg-Quesadilla-Recipe.jpg"
                         class="item" />
                    <h4>Barbecue Chicken and Avocado Quesadillas</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://skinnyms.com/wp-content/uploads/2016/12/Pan-Seared-Salmon-with-Thai-Vegetables-Recipe.jpg"
                         class="item" />
                    <h4>Zucchini Noodles with Creamy Red Pepper Sauce</h4>
                    <p></p>
                </div>
                <div>
                    <img src="https://skinnyms.com/wp-content/uploads/2014/05/Turkey-Veggie-Burger.jpg"
                         class="item" />
                    <h4>Grilled Turkey Veggie Burgers | 228 Calories</h4>
                    <p></p>
                </div>

            </div>
        </div>
        <button id="prev1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
            </svg>
        </button>
        <button id="next1">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
            </svg>
        </button>
    </div>
</body>
</html>


<style>
    h4 {
        padding-left: 20px;
    }

    #wrapper, #wrapper1 {
        width: 100%;
        max-width: 2000px;
        position: relative;
        margin-left: -54px;
    }

    #carousel, #carousel1 {
        overflow: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
    }

        #carousel::-webkit-scrollbar {
            height: 0;
        }

    #prev,
    #next,#prev1, #next1  {
        display: flex;
        justify-content: center;
        align-content: center;
        background: white;
        border: none;
        padding: 8px;
        border-radius: 50%;
        outline: 0;
        cursor: pointer;
        position: absolute;
    }

    #prev, #prev1 {
        top: 50%;
        left: 0;
        transform: translate(50%, -50%);
        display: none;
    }

    #next, #next1 {
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }

    #content, #content1 {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;
        margin: auto;
        box-sizing: border-box;
    }

    .item {
        width: 360px;
        height: 280px;
        background: green;
    }
</style>

<script>
    const gap = 16;

    const carousel = document.getElementById("carousel"),
        content = document.getElementById("content"),
        next = document.getElementById("next"),
        prev = document.getElementById("prev");

    next.addEventListener("click", e => {
        carousel.scrollBy(width + gap, 0);
        if (carousel.scrollWidth !== 0) {
            prev.style.display = "flex";
        }
        if (content.scrollWidth - width - gap <= carousel.scrollLeft + width) {
            next.style.display = "none";
        }
    });
    
    prev.addEventListener("click", e => {
        carousel.scrollBy(-(width + gap), 0);
        if (carousel.scrollLeft - width - gap <= 0) {
            prev.style.display = "none";
        }
        if (!content.scrollWidth - width - gap <= carousel.scrollLeft + width) {
            next.style.display = "flex";
        }
    });
    
    let width = carousel.offsetWidth;
    window.addEventListener("resize", e => (width = carousel.offsetWidth));





    const carousel1 = document.getElementById("carousel1"),
        content1 = document.getElementById("content1"),
        next1 = document.getElementById("next1"),
        prev1 = document.getElementById("prev1");

    next1.addEventListener("click", e => {
        carousel1.scrollBy(width + gap, 0);
        if (carousel1.scrollWidth !== 0) {
            prev1.style.display = "flex";
        }
        if (content1.scrollWidth - width - gap <= carousel1.scrollLeft + width) {
            next1.style.display = "none";
        }
    });

    prev1.addEventListener("click", e => {
        carousel1.scrollBy(-(width + gap), 0);
        if (carousel1.scrollLeft - width - gap <= 0) {
            prev1.style.display = "none";
        }
        if (!content1.scrollWidth - width - gap <= carousel1.scrollLeft + width) {
            next1.style.display = "flex";
        }
    });

    let width1 = carousel1.offsetWidth;
    window.addEventListener("resize", e => (width1 = carousel1.offsetWidth));



</script>

